.protAvailable{
    color: rgb(255, 249, 249);;
    font-size: 40px;
    letter-spacing: 1.5px;
    font-weight: 700;
    font-family: 'Space Grotsek', 'Roboto', sans-serif;
    
  }
  
  .breakline{
    width: 700px;
    height: 2px;
    background-color: black;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  .stakeline{
    min-width: 1230px;
    min-height: 480px;
    border: 1px solid white;
    
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  
  .infoblock{
    width: 750px;
    height: 480px;
  
    border: white solid 1px;
    display: flex;
    align-items: center;
  
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    text-align: left;
    font-size: 20px;
  
  
  }
  
  
  .stakeblock{
    width: 480px;
    height: 480px;
  
  
    background: linear-gradient(129.76deg, #060E95 -0.04%, rgba(5, 7, 142, 0.99) 100%);
    border: #00F0FF solid 1px;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .stakeblockline{
    width: 480px;
    height: 100px;
    background-color: #00F0FF;
  
    display: flex;
    
  }
  
  .stakebutton {
    text-align: center;
    font-family: 'Space Grotsek', 'Roboto', sans-serif;
    width: 300px;
    height: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
  
    margin-left: 90px;
    margin-bottom: 50px;
  
  
    font-size: 20px;
    border-radius: 40px;
    background: #05078E;
    border: 1px solid darkblue;
    transition: all .5s;
    box-shadow: 7px 7px 16px #040679,
                -7px -7px 16px #4fade8;
  
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
   }
   
   .stakebutton:hover{
    border: 1px solid white;
   }
  
   .stakebutton:active {
    color: #666;
    box-shadow: inset 7px 7px 16px #040679,
                inset -7px -7px 16px #4fade8;
   }