@font-face {
    font-family: 'Inter', sans-serif;
    src: url(src/fonts/Inter-Light.ttf) format('ttf');
    font-size: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(src/fonts/Inter-Regular.ttf) format('ttf');
    font-size: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(src/fonts/Inter-Medium.ttf) format('ttf');
    font-size: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Inter', sans-serif;
    src: url(src/fonts/Inter-Bold.ttf) format('ttf');
    font-size: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Londrina Solid', cursive;
    src: url(src/fonts/LondrinaSolid-Thin.ttf) format('ttf');
    font-size: normal;
    font-weight: 100;
}

@font-face {
    font-family: 'Londrina Solid', cursive;
    src: url(src/fonts/LondrinaSolid-Light.ttf) format('ttf');
    font-size: normal;
    font-weight: 300;
}

@font-face {
    font-family: 'Space Grotesk', sans-serif;
    src: url(src/fonts/SpaceGrotesk-Regular.ttf) format('ttf');
    font-size: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Space Grotesk', sans-serif;
    src: url(src/fonts/SpaceGrotesk-Medium.ttf) format('ttf');
    font-size: normal;
    font-weight: 500;
}

@font-face {
    font-family: 'Space Grotesk', sans-serif;
    src: url(src/fonts/SpaceGrotesk-Bold.ttf) format('ttf');
    font-size: normal;
    font-weight: 700;
}