body{
  margin: 0;
  background-color: white;
}

html{
  width: 100%;
  height: 100%;
  margin: 0;
}

.hedder {
  background-color: black;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 1080px;
  width: 100%;
  height: 60px;
  margin: 0;
  opacity: 70%;
}

nav{
  display: flex;
  justify-content: center;
}


.headerButton {
  left: auto;
  right: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 10px;
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* topLeft */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* topRight */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottomRight 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottomRight 2 */
            0 100%);
  transition: color 250ms;
}

.headerButton::after,
.headerButton::before {
  content: '';
  position: absolute;
  inset: 0;
}

.headerButton::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.headerButton::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* topLeft */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* topRight */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottomRight 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottomRight 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.headerButton:where(:hover, :focus)::after {
  clip-path: polygon(
                /* topLeft */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* topRight */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottomRight 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottomRight 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.headerButton:where(:hover, :focus) {
  color: #fff;
}

.topTop{
  width: 100%;
  height: 800px;
  background: #ddd;
}
.topBottom{
  width: 100%;
  height: 150px;
  background-color: aquamarine;
}

.bodyTop{
  height: 750px;
  margin : -15px;
  
  background: linear-gradient(180deg, #1B3E82 0%, #182B6F 100%);
  box-shadow: inset 0px -35px 60px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px 40px 0 0;

}

.bodyMiddle{
  height: 750px;
  margin: -15px;

  background: linear-gradient(180deg, #172B6B 0%, #255BBC 100%);
  box-shadow: 0px -30px 75px 4px rgba(0, 0, 0, 0.25);
  border-radius: 40px 40px 0px 0px;
}

.futer{
  height: 340px;
  background: rgba(24, 43, 111, 1)
}