body{
  margin: 0;
  background-color: #0b3383;
}

html{
  width: 100%;
  height: 100%;
  margin: 0;
}

.hedder {
  background-color: black;
  position: absolute;
  left: 0px;
  top: 0px;
  min-width: 1080px;
  width: 100%;
  height: 50px;
  margin: 0;
  opacity: 70%;
}

nav{
  display: flex;
  justify-content: right;
}


.headerButton {
  left: auto;
  right: auto;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 6px;
  --border-color: linear-gradient(-45deg, #ffae00, #7e03aa, #00fffb);
  --border-width: .125em;
  --curve-size: .5em;
  --blur: 30px;
  --bg: #080312;
  --color: #afffff;
  color: var(--color);
  position: relative;
  isolation: isolate;
  display: inline-grid;
  place-content: center;
  padding: .5em 1.5em;
  font-size: 17px;
  border: 0;
  text-transform: uppercase;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, .6);
  clip-path: polygon(
            /* topLeft */
            0% var(--curve-size),

            var(--curve-size) 0,
            /* topRight */
            100% 0,
            100% calc(100% - var(--curve-size)),

            /* bottomRight 1 */
            calc(100% - var(--curve-size)) 100%,
            /* bottomRight 2 */
            0 100%);
  transition: color 250ms;
}

.headerButton::after,
.headerButton::before {
  content: '';
  position: absolute;
  inset: 0;
}

.headerButton::before {
  background: var(--border-color);
  background-size: 300% 300%;
  animation: move-bg7234 5s ease infinite;
  z-index: -2;
}

@keyframes move-bg7234 {
  0% {
    background-position: 31% 0%
  }

  50% {
    background-position: 70% 100%
  }

  100% {
    background-position: 31% 0%
  }
}

.headerButton::after {
  background: var(--bg);
  z-index: -1;
  clip-path: polygon(
            /* topLeft */
            var(--border-width) 
            calc(var(--curve-size) + var(--border-width) * .5),

            calc(var(--curve-size) + var(--border-width) * .5) var(--border-width),

            /* topRight */
            calc(100% - var(--border-width)) 
            var(--border-width),

            calc(100% - var(--border-width)) 
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),

            /* bottomRight 1 */
            calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) calc(100% - var(--border-width)),
            /* bottomRight 2 */
            var(--border-width) calc(100% - var(--border-width)));
  transition: clip-path 500ms;
}

.headerButton:where(:hover, :focus)::after {
  clip-path: polygon(
                /* topLeft */
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5)),
    
                calc(100% - var(--border-width))

                var(--border-width),
    
                /* topRight */
                calc(100% - var(--border-width))

                 var(--border-width),
    
                calc(100% - var(--border-width)) 

                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)),
    
                /* bottomRight 1 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * .5)) 
                calc(100% - var(--border-width)),

                /* bottomRight 2 */
                calc(100% - calc(var(--curve-size) + var(--border-width) * 0.5))
                calc(100% - var(--border-width)));
  transition: 200ms;
}

.headerButton:where(:hover, :focus) {
  color: #fff;
}

.topTop{
  width: 100%;
  height: 900px;
  background: #ddd;
  /* box-shadow: 0px 17px 29px rgba(0, 0, 0, 0.5); */
}
.topBottom{
  width: 100%;
  height: 40px;
  background: transparent;
  margin-top: -30px;
}



.scrolldown {
  --color: white;
  --sizeX: 30px;
  --sizeY: 50px;
  position: relative;
  width: var(--sizeX);
  height: var(--sizeY);
  margin-left: var(sizeX / 2);
  border: calc(var(--sizeX) / 10) solid var(--color);
  border-radius: 50px;
  box-sizing: border-box;
  margin-bottom: 16px;
  cursor: pointer;
  display: inline-block;
  margin-top: -150px;
  margin-left: 15px;
}

.scrolldown::before {
  content: "";
  position: absolute;
  bottom: 30px;
  left: 50%;
  width: 6px;
  height: 6px;
  margin-left: -3px;
  background-color: var(--color);
  border-radius: 100%;
  animation: scrolldown-anim 2s infinite;
  box-sizing: border-box;
  box-shadow: 0px -5px 3px 1px #2a547066;
}

@keyframes scrolldown-anim {
  0% {
    opacity: 0;
    height: 6px;
  }

  40% {
    opacity: 1;
    height: 10px;
  }

  80% {
    transform: translate(0, 20px);
    height: 10px;
    opacity: 0;
  }

  100% {
    height: 3px;
    opacity: 0;
  }
}

.chevrons {
  padding: 6px 0 0 0;
  margin-left: -3px;
  margin-top: 48px;
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chevrondown {
  margin-top: -6px;
  position: relative;
  border: solid var(--color);
  border-width: 0 3px 3px 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.chevrondown:nth-child(odd) {
  animation: pulse54012 500ms ease infinite alternate;
}

.chevrondown:nth-child(even) {
  animation: pulse54012 500ms ease infinite alternate 250ms;
}

@keyframes pulse54012 {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.5;
  }
}

.bodyTop{
  height: 580px;
  margin : -20px;
  
  background: linear-gradient(180deg, #1B3E82 0%, #182B6F 100%);
  box-shadow: inset 0px -35px 60px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 50px 0 0;

  text-align: center;
  padding-top: 15px;
}

.bodyTop h1{
  margin: 0;
}

.protAvailable{
  color: rgb(255, 249, 249);;
  font-size: 40px;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-family: 'Space Grotsek', 'Roboto', sans-serif;
  
}

.breakline{
  width: 700px;
  height: 2px;
  background-color: black;

  display: inline-block;
}

.infoblock{
  width: 750px;
  height: 480px;

  border: white solid 1px;
  display: inline-block;
}

.stakeblock{
  width: 480px;
  height: 480px;
  margin-top: -15px;

  background: linear-gradient(129.76deg, #060E95 -0.04%, rgba(5, 7, 142, 0.99) 100%);
  border: #00F0FF solid 1px;

  display: inline-block;
}

.stakeblockInfoline{
  width: 480px;
  height: 100px;
  background-color: #00F0FF;
}


.bodyMiddle{
  height: 750px;
  margin: -15px;

  background: linear-gradient(180deg, #172B6B 0%, #255BBC 100%);
  box-shadow: 0px -30px 75px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px 50px 0px 0px;

  text-align: center;
  padding-top: 15px;
}

.bodyMiddle h1{
  margin: 0;
}

.comSoon{
  color: rgb(255, 249, 249);
  font-size: 40px;
  letter-spacing: 1.5px;
  font-weight: 700;
  font-family: 'Space Grotsek', 'Roboto', sans-serif;
}

.futer{
  height: 340px;
  background: rgba(24, 43, 111, 1)
}