#gradient-canvas {
  min-width: 1080px;
  height: 100%;
  --gradient-color-1: #255bbc; 
  --gradient-color-2: #c21aff; 
  --gradient-color-3: #56c9fb;  
  --gradient-color-4: #9884fd;
}

canvas{
  height: 100%;
  width: 100%;
}
